<log4net>


    <!--json appender-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">

        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <file value="c:\logs\"/>
        <appendToFile value="true" />
        <rollingStyle value="Date"/>
        <datePattern value="'redirectionservice_'yyyyMMdd'.log'"/>
        <staticLogFileName value="false" />
        <maxSizeRollBackups value="30"/>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%message%newline" />
        </layout>
    </appender>


    <root>
        <level value='DEBUG'/>
        <appender-ref ref='RollingLogFileAppender'/>
    </root>

</log4net>